*
{
margin: 0;
}
.wrapper
{
    border: 0.1rem;
    border-width: 0.2rem;
    border-color: red;
    border-style: dashed;
    width: 50%;
    margin-left: 20%;
     margin-top: 20%;
}
.two
{
    padding-top: 0.2rem;
    float:inline-end;
    padding-left: 0.1rem;
}